# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ----------- Yarn ---------------
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Skip these files and directories
/coinmarketcap-scripts/getAllStorage.js
/coinmarketcap-scripts/getAllDeFi.js
/data/daily-historical-prices/coinmarketcap/Cryptocurrencies/*.json
/data/daily-historical-prices/coinmarketcap/DeFi
/data/interest-rates/